input#search_keywords{
    height: 45px;
    padding-left: 47px;
}
select#search_location{
    height: 45px;
    padding-left: 47px;
}
.banner-caption .title {
    font-size: 2.0em;
    font-weight: 600;
}
.banner-caption {
    text-align: left;
}
.banner-caption .description {
    margin-top: 10px;
    font-size: 0.95em;
    color: #fff;
    line-height: 1.5;
    font-weight: 200;
}
p.text-submit{
    
    position: fixed;
    color: white;
    padding: 10px 15px;
    font-weight: 400;
}
.banner-caption .jobscout_job_filters .search_jobs input[type="submit"] {
    padding: 0;
    text-indent: 0px;
  }
  .article-section .article-wrap {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 40px;
}
.image_postimage {
    width: 160px;
    height: 150px;
}
.post_image {
    background: #fff;
    height: 150px;
}
.titleimage {
    font-size: 14px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    text-align: left;
}
.des-titleimage {
    text-align: left;
    font-size: 10px;
    padding-top: 10px;
}
.rm-image {
    padding-top: 10px;
    text-align: left;
    font-weight: bold;
    font-size: 12px;
    color: orange;
    text-decoration: none;
}
/* phan cua huu ky */
.btn-TCL{
    background-color: #DDDDDD;
    border-radius: 6px;
    margin-top: 10px;
    width:100%;
    height: 30px;
    line-height: 20px;
  }
  .btn-TCL > ul {
    display: flex;
  }
  .btn-TCL > ul > li{
    list-style: none;
    margin-top: 1px;
  }
  .btn-TCL > ul > li > .point-topbb{
    position: static;
    font-size: 15px;
    margin-left: -58px;
    margin-right: 80px;
    color: #999999;
  }
  .btn-TCL > ul > li > p > a{
    position: static;
    font-size: 15px;
    margin-left: 5px;
    text-decoration: none;
    color: #999999;
  }
  .btn-TCL > ul > li > .point-topbb::after{
    content:'';
    position:absolute;
    background-color: black;
    width: 1px;
    height: 10px;
    padding: 6px 0; 
    margin: 4px 10px;
  }
  .job_jobs{
    display: flex;
    flex-wrap: wrap;
  }
  .company-title-short{
    margin-top: 10px;
  }
  .company-title-short > li a{
    text-decoration: none;
    color: #999999;
  }
  .company-title-short > li{
    color: #999999;
    font-size: 15px;
  }
  .clear-li{
    color: #999999;
  }

  /* header - luan  */
  .topnav {
    overflow: hidden;
    /* background-color: #f1f1f1; */
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    padding-left: 30px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
  }
  
  .topnav a:hover {
    border-bottom: 3px solid #ea751e;
  }
  
  .topnav a.active {
    border-bottom: 3px solid #ea751e;
  }

  .site-branding .site-title a {
    color: #000;
  }

  /* newsletter */
  
/* phan subri o luan */

form.customize-unpreviewable, form.customize-unpreviewable input, form.customize-unpreviewable select, form.customize-unpreviewable button, a.customize-unpreviewable, area.customize-unpreviewable{
	display: flex;
	flex-wrap: wrap;
	margin: 0 50px;
  }
  
  
  /* fix */
  .wpcf7 {
	background: #ea751e;
	width: 100%;
  color: #fff;
  font-weight: bold;
  padding: 20px 20px 20px 50px !important;
  
  }
  .wpcf7 input[type="text"],
  .wpcf7 input[type="email"],
  .wpcf7 input[type="tel"],
  textarea {
	font-size: 16px;
	background-color: #fff;
	/* border: none; */
	width: 95%;
	padding: 2%;
  }
  .wpcf7 input[type="submit"] {
	color: #ffffff;
    left: 60%;
	font-size: 18px;
	font-weight: 600;
	background: #ea751e;
   border: 1px solid #fff;
	width: auto;
	text-transform: uppercase;
  }
.wpcf7 input[type="email"]{
    margin-right: 160px;
}
